[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/sonoro1234/luafilesystem
[submodule "lanes"]
	path = lanes
	url = https://github.com/LuaLanes/lanes
	branch = Branch_v3.17.0
[submodule "LuaJIT"]
	path = LuaJIT/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = v2.1
[submodule "luasocket"]
	path = luasocket_cmake/luasocket
	url = https://github.com/sonoro1234/luasocket.git
	branch = datagramsize
[submodule "wxLua"]
	path = wxLuaBundled/wxlua
	url = https://github.com/sonoro1234/wxLua
[submodule "wxWidgets"]
	path = wxLuaBundled/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
[submodule "LuaJIT-libsndfile"]
	path = LuaJIT-libsndfile
	url = https://github.com/sonoro1234/LuaJIT-libsndfile.git
[submodule "portmidi"]
	path = portmidi
	url = https://github.com/PortMidi/portmidi.git
